/* create an arrow that points right */
div.arrow-right {
	width: 0; 
	height: 0; 
	border-bottom: 4px solid transparent;  /* left arrow slant */
	border-top: 4px solid transparent; /* right arrow slant */
	border-left: 8px solid #18ba3b; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
}

.main-table tr:nth-child(3n+1) td:first-of-type {
	width: 1%;
}

.main-table tr:nth-child(3n+1) td:nth-of-type(2) {
	width: 1%;
}

.main-table tr:nth-child(3n+1) td:nth-of-type(3) {
	width: 2%;
}

.main-table tr:nth-child(3n+1) td:last-of-type {
	/*width: 75%;*/
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: 400px;
  max-width: 500px;
  margin: 20px auto;
  color: black;
}

.blank-row {
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}

.left-side-instruction {
	color: #23A600;
}

#instruction-table tr td:first-of-type {
	width: 40%;
	text-align: right;

}

#instruction-table tr td:nth-of-type(2) {
	width: auto;
	text-align: left;
}

.foot-note {
	color: #838383;
	font-size: 7pt;
}
